<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MySite: {{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>Some text here</p>
    <p><a href="/">Home</a></p>
    {{> footer}}
  </body>
</html>
