<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MySite: {{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomePara}} Some text here</p>
    <p><a href="about">About</a></p>
    {{> footer}}
  </body>
</html>
